<div class="container-xl">
  <div class="text-center">
    <br>
    <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger.png' : '/resources/mempool-logo-bigger.png'" style="width: 250px;height:250px;">
    <br><br>

    <h2>Privacy Policy</h2>
    <h6>Updated: April 11, 2024</h6>

    <br><br>

    <div class="text-left">

      <h4>USE YOUR OWN SELF-HOSTED MEMPOOL EXPLORER</h4>

      <p>For maximum privacy, we recommend that you use your own self-hosted instance of The Bitpool Open Source Project; on your own hardware.</p>

      <br>

      <p *ngIf="officialMempoolSpace">The <a href="https://mempool.space/">mempool.space</a> website, the <a href="https://liquid.network/">liquid.network</a> website, the <a href="https://bitcoin.gob.sv/">bitcoin.gob.sv</a> website, their associated API services, and related network and server infrastructure (collectively, the "Website") are operated by Mempool Space K.K. in Japan ("Mempool", "We", or "Us") and self-hosted from <a href="https://bgp.tools/as/142052#connectivity">AS142052</a>.</p>

      <p *ngIf="!officialMempoolSpace">This website and its API service (collectively, the "Website") are operated by a member of the Bitcoin community ("We" or "Us").</p>

      <br>

      <h5>By accessing this Website, you agree to the following Privacy Policy:</h5>

      <br>

      <h4>USING THIS WEBSITE</h4>

      <p *ngIf="officialMempoolSpace">Out of respect for the Bit community, this Website does not use any third-party analytics, third-party trackers, or third-party cookies, and we do not share any private user data with third-parties. Additionally, to mitigate the risk of surveillance by malicious third-parties, we self-host this Website on our own hardware and network infrastructure, so there are no "hosting companies" or "cloud providers" involved with the operation of this Website.</p>

      <p>Out of respect for the Bitcoin community, this Website does not use any first-party cookies, except to store your preferred language setting (if any). However, we do use minimal first-party analytics and logging as needed for the operation of this Website, as follows:</p>

      <ul>

        <li>We use basic webserver logging (nginx) for sysadmin purposes, which collects your IP address along with the requests you make. These logs are deleted after 10 days, and we do not share this data with any third-party.</li>

        <br>

        <li>We use a self-hosted statistics application (matomo) for analytics purposes, which collects your IP address along with the requests you make. Our matomo instance is configured to respect your privacy by redacting your IP address and other methods, and we do not share this data with any third-party. To conceal your activity from our analytics, we recommend that you use a privacy protecting browser extension that blocks matomo from being loaded.</li>

      </ul>

      <br>

      
      <br>

      <ng-container *ngIf="officialMempoolSpace">

        

        <br>

      </ng-container>  
      
      <ng-container *ngIf="officialMempoolSpace">    
        
      <h4>PAYMENTS AND DONATIONS</h4>

        <p>If you make any payment to Mempool or donation to The Mempool Open Source Project&reg;, we may collect the following:</p>

        <ul>

          <li>Your e-mail address and/or country; we may use this information to manage your user account, for billing purposes, or to update you about our services. We will not share this with any third-party, except as necessary for our fiat payment processor.</li>

          <li>If you make a payment using Bitcoin, we will process your payment using our self-hosted BTCPay Server instance. We will not share your payment details with any third-party. For payments made over the Lightning network, we may utilize third party LSPs / lightning liquidity providers.</li>

          <li>If you make a payment using Fiat we will collect your payment details. We will share your payment details with our fiat payment processor Square (Block, Inc.) - Please see "Information we collect about customers" on Square's website at https://squareup.com/us/en/legal/general/privacy.</li>

        </ul>

        <br>

      </ng-container> 

      
   
    </div>

  </div>

  <br><br>

</div>
