<div class="container-xl about-page">

  <div class="intro">
    <span style="margin-left: auto; margin-right: -20px; margin-bottom: -20px"></span>
    <img class="logo" src="/resources/mempool-logo-bigger.png" />
    <div class="version">
      <span *ngIf="stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE">[{{ stateService.env.GIT_COMMIT_HASH_MEMPOOL_SPACE }}]</span>
    </div>
  </div>

  <div class="about-text">
    <h5><ng-container i18n="about.about-the-project">The Bitpool Open Source Project</ng-container><ng-template [ngIf]="locale.substr(0, 2) === 'en'"> </ng-template></h5>
    <p i18n>Our Bitpool and blockchain explorer in 100% based on mempool open source project</p>
  </div>

  <div class="maintainers" id="project-maintainers">
   
  </div>

  <div class="copyright">
    <div class="title">
      Copyright &copy; 2019-2024<br>
      Mempool Space K.K.<br>

      2025-Future<br>
      Bit developers<br>     
    </div>
   
    <p>
      This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the full license terms for more details.<br>
    </p>
    <p>
      This program incorporates software and other components licensed from third parties. See the full list of <a href="/3rdpartylicenses.txt">Third-Party Licenses</a> for legal notices from those projects.
    </p>
    
  </div>

  <br>
</div>


<ng-template #loadingSponsors>
  <br>
  <div class="spinner-border text-light"></div>
</ng-template>

